---
- name: Automate Desktop Setup
  hosts: localhost
  vars:
    userid: gedaas
    groupid: gedas
  tasks:

    - name: Install zsh and tmux
      apt:
        name: 
          - zsh
          - tmux
        state: present
        update_cache: yes
      become: yes

    - name: Change default shell to zsh
      shell: chsh -s $(which zsh)
      when: ansible_env.SHELL != "/usr/bin/zsh"
      become: yes
    
    - name: Delete a directory
      file:
        path: "/home/{{ userid }}/.oh-my-zsh"
        state: absent

    - name: Copy .oh-my-zsh directory
      command:
        cp -r files/.oh-my-zsh /home/{{ userid }}/.oh-my-zsh

    - name: Copy custom .zshrc
      copy:
        src: files/.zshrc
        dest: "/home/{{ userid }}/.zshrc"
        owner: "{{ userid }}"
        mode: '0644'
      tags: [zshrc]

    - name: Copy custom .p10k.zsh for Powerlevel10k configuration
      copy:
        src: files/.p10k.zsh
        dest: "/home/{{ userid }}/.p10k.zsh"
        owner: "{{ userid }}"
        mode: '0644'

    - name: Copy Nerd Fonts to local user fonts directory
      copy:
        src: files/FiraCode/FiraCodeNerdFont-Medium.ttf
        dest: "/home/{{ userid }}/.local/share/fonts/FiraCodeNerdFont-Medium.ttf"
        owner: "{{ userid }}"
        mode: '0644'

    - name: Update font cache
      command: fc-cache -fv "/home/{{ userid }}/.local/share/fonts/"

    - name: Load GNOME Terminal configuration from backup
      shell: dconf load /org/gnome/terminal/ < "{{ playbook_dir }}/files/gnome-terminal-backup"

    - name: Set desktop wallpaper
      command: gsettings set org.gnome.desktop.background picture-uri-dark 'file:///home/{{ userid }}/source/terminalConfig/ansible/files/wallpaper/neon-mountain.jpg'

    - name: Copy tmux config
      copy:
        src: files/.tmux.conf
        dest: "/home/{{ userid }}/.tmux.conf"
      become: yes
      tags: [tmux-tpm-conf]

    - name: Create tmux plugin dir
      ansible.builtin.file:
        path: "/home/{{ userid }}/.tmux/plugins/tpm"
        state: directory
        owner: "{{ userid }}"
      tags: [tmux-tpm-conf]

    - name: Get tmux plugin installer from git
      ansible.builtin.git:
        repo: 'https://github.com/tmux-plugins/tpm'
        dest: "/home/{{ userid }}/.tmux/plugins/tpm"
      tags: [tmux-tpm-conf]

    - name: Copy bash aliases
      copy:
        src: files/.bash_aliases
        dest: "/home/{{ userid }}/.bash_aliases"
        owner: "{{ userid }}"
        mode: '0644'
      tags: [aliases]

